div.mainContainer {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    margin: 1em 2em 1em 2em;
    padding: 1em 2em 1em 2em;
    align-items: flex-start;
}

img.itemImage {
    width: 40%;
}

#smallContainer {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;
}

.sContainerText {
    color: black;
    margin: 0 0 1rem 1rem;
    height: 100%;
    flex-grow: inherit;
}

#picContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: stretch;
    width: 10%
}

#likesContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#nrLikes {
    margin: 0 10px 0 0;
    width: 2rem;
    height: 2rem;
}

#fave {
    margin: 0 0 0 10px;
    height: 1.5rem;
    width: 1.5rem;
}

#arrow {
    width: 1.7rem;
    height: 1.7rem;
    align-self: flex-end;
}