
#mainConatiner {
    background-color: whitesmoke;
    margin: 1em 2em 1em 2em;
    padding: 1em 2em 1em 2em;
}

.smaller-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.MainIMG {
    width: 50%;
}

p {
    margin-left: 2em;
}