.mainContainer {
    background-color: whitesmoke;
    color: black;
    display: flex;

}

.itemForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

.inputDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

label {
    font-size: larger;
    margin-bottom: 0.3em;
}

.itemInput {
    background-color: white;
}

#submitButton {
    background-color: #c7e0c5;
    color: black;
}